<section class="featured" id="featured">

  <h1 class="heading"><span>featured books</span> </h1>
  <button class="pre-btn"><i class="fa-solid fa-caret-left"></i></button>
  <button class="ntx-btn"><i class="fa-solid fa-caret-right"></i></button>

  <div class="featured-slider">
    <div class="wrapper">

      <div class="box-book">
        <div class="icons">
          <a href="#" class="fas fa-search"></a>
          <a href="#" class="fas fa-heart"></a>
          <a href="#" class="fas fa-eye"></a>
        </div>
        <div class="image">
          <span class="discount-tag">40% off</span>
          <img src="src/assets/img/Architect/Architect7.jpg" alt="">
        </div>
        <div class="content">
          <h5>Modern Architecture</h5>
          <div class="price">&euro;59.99 <span class="actual-price">&euro;99.99</span></div>
          <a href="#" class="btn">add to cart</a>
        </div>
      </div>

      <div class="box-book">
        <div class="icons">
          <a href="#" class="fas fa-search"></a>
          <a href="#" class="fas fa-heart"></a>
          <a href="#" class="fas fa-eye"></a>
        </div>
        <div class="image">
          <span class="discount-tag">50% off</span>
          <img src="src/assets/img/Business/Business4.jpg" alt="">
        </div>
        <div class="content">
          <h4>Book Name</h4>
          <div class="price">&euro;15 <span class="actual-price">&euro;29.99</span></div>
          <a href="#" class="btn">add to cart</a>
        </div>
      </div>

      <div class="box-book">
        <div class="icons">
          <a href="#" class="fas fa-search"></a>
          <a href="#" class="fas fa-heart"></a>
          <a href="#" class="fas fa-eye"></a>
        </div>
        <div class="image">
          <span class="discount-tag">50% off</span>
          <img src="src/assets/img/Childrens/Children3.jpg" alt="">
        </div>
        <div class="content">
          <h4>featured books</h4>
          <div class="price">&euro;15 <span class="actual-price">&euro;29.99</span></div>
          <a href="#" class="btn">add to cart</a>
        </div>
      </div>

      <div class="box-book">
        <div class="icons">
          <a href="#" class="fas fa-search"></a>
          <a href="#" class="fas fa-heart"></a>
          <a href="#" class="fas fa-eye"></a>
        </div>
        <div class="image">
          <span class="discount-tag">50% off</span>
          <img src="src/assets/img/Graphic-Design/GraphicDesign5.jpg" alt="">
        </div>
        <div class="content">
          <h4>featured books</h4>
          <div class="price">&euro;15 <span class="actual-price">&euro;29.99</span></div>
          <a href="#" class="btn">add to cart</a>
        </div>
      </div>

      <div class="box-book">
        <div class="icons">
          <a href="#" class="fas fa-search"></a>
          <a href="#" class="fas fa-heart"></a>
          <a href="#" class="fas fa-eye"></a>
        </div>
        <div class="image">
          <span class="discount-tag">50% off</span>
          <img src="src/assets/img/Novel/Novel5.jpg" alt="">
        </div>
        <div class="content">
          <h4>featured books</h4>
          <div class="price">&euro;15 <span class="actual-price">&euro;29.99</span></div>
          <a href="#" class="btn">add to cart</a>
        </div>
      </div>

      <div class="box-book">
        <div class="icons">
          <a href="#" class="fas fa-search"></a>
          <a href="#" class="fas fa-heart"></a>
          <a href="#" class="fas fa-eye"></a>
        </div>
        <div class="image">
          <span class="discount-tag">50% off</span>
          <img src="src/assets/img/Philosophy/Philo4.jpg" alt="">
        </div>
        <div class="content">
          <h4>featured books</h4>
          <div class="price">&euro;15 <span class="actual-price">&euro;29.99</span></div>
          <a href="#" class="btn">add to cart</a>
        </div>
      </div>

      <div class="box-book">
        <div class="icons">
          <a href="#" class="fas fa-search"></a>
          <a href="#" class="fas fa-heart"></a>
          <a href="#" class="fas fa-eye"></a>
        </div>
        <div class="image">
          <span class="discount-tag">50% off</span>
          <img src="src/assets/img/Photography/Photography5.jpg" alt="">
        </div>
        <div class="content">
          <h4>featured books</h4>
          <div class="price">&euro;15 <span class="actual-price">&euro;29.99</span></div>
          <a href="#" class="btn">add to cart</a>
        </div>
      </div>

      <div class="box-book">
        <div class="icons">
          <a href="#" class="fas fa-search"></a>
          <a href="#" class="fas fa-heart"></a>
          <a href="#" class="fas fa-eye"></a>
        </div>
        <div class="image">
          <span class="discount-tag">50% off</span>
          <img src="src/assets/img/Recipe and Food/rec-food7.jpg" alt="">
        </div>
        <div class="content">
          <h4>featured books</h4>
          <div class="price">&euro;15 <span class="actual-price">&euro;29.99</span></div>
          <a href="#" class="btn">add to cart</a>
        </div>
      </div>
    </div>
  </div>
</section>
