.icon-container {
  display: flex;
  justify-content: space-between;
  /* grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr)); */
  /* gap: 1.5rem; */
  background-color: rgb(223, 128, 66);
  margin-top: -4rem;
  margin-bottom: 10rem;
  padding: 0 5rem;
  height: 15rem;
}

.icon-container .icons {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  padding: 4rem 0;
}

.icon-container .icons i {
  font-size: 2.5rem;
  color: #d6000e8a;
}

.icon-container .icons h3 {
  font-size: 1.5rem;
  color: #ffffff;
  padding-bottom: 0.5rem;
}

.icon-container .icons p {
  font-size: 1rem;
  color: #6a8da0;
  padding-bottom: 0.5rem;
}
